.sec1{
    @media(max-width:500px){
        display: none;
    }
}

.sec2{
    display: none;
    @media(max-width:500px){
        display: block;
    }
}

.subray{
    text-decoration: none;
}

.footer-container{
    color: white;
    background-color: black;
    margin-top: 150px;
    padding: 50px 85px;
    @media(max-width:500px){
        padding: 50px 10px 15px 10px;
    }
    
    &__incons-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:500px){
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
    &__media-icons{
        display: flex;
        gap: 15px;
        @media(max-width:500px){
            margin-bottom: 30px;
        }
    }
    &__face{
        background-image: '../assets/img/icon-facebook.svg';
    }
    &__div-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        @media(max-width:500px){
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        & ul{
            display: flex;
            gap: 20px;
            list-style:none ;
            text-decoration: none;
            @media(max-width:500px){
                display: flex;
                flex-direction: column;
                list-style:none ;
                
            }
            & a{
                color: white;
            }
        }
    }
}