@use 'src/variables' as v;

@mixin bgimage($img) {
  background-image: url($img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .textbg {
    font-weight: 100;
    font-size: 32px;
    margin: 50 auto;
    color: white;
  }
}

@mixin bgImageMobile($img) {
  background-image: url($img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .textbg {
    color: white;
  }
}

@mixin button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: v.$fontJosefin;
  border-radius: 5px;
  padding: 10px 55px;
  border: 1px solid black;
  background-color: white;
  transition: 0.3s;
}
